@using CRUD_MVC_CS.Models;
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Id Marca</td>
            <td>Nombre Marca</td>
            <td>Descripción</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.idMarca</td>
                <td>@item.nombre</td>
                <td>@item.descripcion</td>
            </tr>
        }
    </tbody>
</table>